In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
from google.colab import files
file=files.upload()

Saving dataset.csv to dataset.csv

In [2]:
data=pd.read_csv("dataset.csv")
data.head(5)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [3]:
data['Movie_id']=range(0,data.shape[0])
data.head(5)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Movie_id
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,1
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,2
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,3
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,4

In [4]:
#imp cols
cols=["Actors","Director","Genre","Title"]
data[cols].head(5)

,Actors,Director,Genre,Title
0,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",James Gunn,"Action,Adventure,Sci-Fi",Guardians of the Galaxy
1,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",Ridley Scott,"Adventure,Mystery,Sci-Fi",Prometheus
2,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",M. Night Shyamalan,"Horror,Thriller",Split
3,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",Christophe Lourdelet,"Animation,Comedy,Family",Sing
4,"Will Smith, Jared Leto, Margot Robbie, Viola D...",David Ayer,"Action,Adventure,Fantasy",Suicide Squad

In [5]:
data[cols].isnull().sum()

Actors      0
Director    0
Genre       0
Title       0
dtype: int64

In [6]:
data['Actors'][0]

'Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana'

In [7]:
def concatS(inpu):
  res=[]
  tmp=""
  for i in range(inpu.shape[0]):
    tmp=""
    for col in inpu.columns:
      tmp=tmp+" "+inpu[col][i]
    res.append(tmp)
  return res

In [8]:
res=concatS(data[cols])

In [9]:
data["import_feat"]=res
data.head(5)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,Movie_id,import_feat
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,0,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe ..."
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,1,"Noomi Rapace, Logan Marshall-Green, Michael F..."
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,2,"James McAvoy, Anya Taylor-Joy, Haley Lu Richa..."
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,3,"Matthew McConaughey,Reese Witherspoon, Seth M..."
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,4,"Will Smith, Jared Leto, Margot Robbie, Viola ..."

In [10]:
cm=CountVectorizer().fit_transform(data['import_feat'])
cm=cosine_similarity(cm)
cm

array([[1.        , 0.1767767 , 0.06085806, ..., 0.0571662 , 0.06537205,
        0.        ],
       [0.1767767 , 1.        , 0.        , ..., 0.        , 0.06933752,
        0.        ],
       [0.06085806, 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.0571662 , 0.        , 0.        , ..., 1.        , 0.06726728,
        0.        ],
       [0.06537205, 0.06933752, 0.        , ..., 0.06726728, 1.        ,
        0.07161149],
       [0.        , 0.        , 0.        , ..., 0.        , 0.07161149,
        1.        ]])

In [11]:
cm.shape

(1000, 1000)

In [12]:
title="Suicide Squad"
movie_id=data[data.Title==title].Movie_id.values[0]

In [13]:
scores=list(enumerate(cm[movie_id]))
scores=sorted(scores,key=lambda x:x[1],reverse=True)

In [14]:
#top 7 matches
output=scores[1:8]
print(output)

[(948, 0.36514837167011077), (488, 0.2760262237369417), (496, 0.25048971643405976), (384, 0.24343224778007383), (73, 0.20701966780270625), (87, 0.20701966780270625), (91, 0.20701966780270625)]

In [15]:
for j in output:
  print(list(data[data.Movie_id==j[0]]["Title"]))

['After Earth']
['Focus']
['Men in Black 3']
['The Lego Movie']
['Collateral Beauty']
['Avatar']
['Warcraft']

EXTRAS

In [16]:
import pandas as pd
df = pd.DataFrame(data[['Movie_id','Title','import_feat']])
df.to_csv('finaldata.csv', index=False)

In [17]:
with open('array.bin', 'wb') as file:
    cm.astype(np.float64).tofile(file)

In [18]:
import numpy as np
with open('array.bin', 'rb') as file:
    bin_data = file.read()
arr = np.frombuffer(bin_data, dtype=np.float64)
arr = arr.reshape((1000, 1000))
print(arr)

[[1.         0.1767767  0.06085806 ... 0.0571662  0.06537205 0.        ]
 [0.1767767  1.         0.         ... 0.         0.06933752 0.        ]
 [0.06085806 0.         1.         ... 0.         0.         0.        ]
 ...
 [0.0571662  0.         0.         ... 1.         0.06726728 0.        ]
 [0.06537205 0.06933752 0.         ... 0.06726728 1.         0.07161149]
 [0.         0.         0.         ... 0.         0.07161149 1.        ]]

In [19]:
def showRecommendations(df,arr,searchString):
  movie_id=df[df.Title==searchString].Movie_id.values[0]
  scores=list(enumerate(arr[movie_id]))
  scores=sorted(scores,key=lambda x:x[1],reverse=True)
  #top 7 matches
  output=[]
  for j in scores[1:8]:
    output.append(list(df[df.Movie_id==j[0]].Title)[0])
  return output

In [26]:
showRecommendations1(df,arr,"Suicide Squad")

['After Earth',
 'Focus',
 'Men in Black 3',
 'The Lego Movie',
 'Collateral Beauty',
 'Avatar',
 'Warcraft']

In [20]:
import pickle
with open('showRecommendations.bin', 'wb') as file:
    pickle.dump(showRecommendations, file)

In [25]:
with open('showRecommendations.bin', 'rb') as file:
    showRecommendations1 = pickle.load(file)

In [29]:
with open('showRecommendations.bin', 'rb') as file:
    showRecommendations1 = pickle.load(file)
showRecommendations1(df,arr,"Focus")

['Whiskey Tango Foxtrot',
 'Hancock',
 'Suicide Squad',
 'Crazy, Stupid, Love.',
 'The Wolf of Wall Street',
 'The Pursuit of Happyness',
 'Get Hard']